---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About Me">
  <div class="flex flex-col gap-2">
    <p class="text-m font-light">
      Hi, I'm Emmet.
      <br />
      My tools of choice include:
      <ul class="list-disc list-inside">
        <li>SQL</li>
        <li>Python</li>
        <li>Excel</li>
        <li>Odoo</li>
        <li>Looker</li>
        <li>HTML</li>
        <li>JavaScript</li>
        <li>CSS</li>
        <li>Ruby on Rails</li>

      </ul>
    </p>
    <p class="text-s font-light">
      Outside of work, I enjoy Bouldering, Dungeons & Dragons, and a nice glass of wine. 
    </p>
  </div>
</Card>
