---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4" title="Skills">
  <div class="flex flex-col gap-2">
    <p class=" font-light">
      Some skills of mine:
      <ul class="list-disc list-inside text-sm">
        <li>Data Analysis and Visualisation</li>
        <li>Risk Management</li>
        <li>Inventory Management</li>
        <li>Sourcing</li>
        <li>Supplier Negotiations</li>
        <li>Vendor Management</li>
        <li>Cross-functional Collaboration</li>
        <li>Product Management</li>
        <li>Web Development</li>
      </ul>
    </p>
  </div>
</Card>
